[user]
	email = fumiyas@osstech.co.jp
	name = SATOH Fumiyasu

[color]
	ui = auto

[color "diff"]
	commit = yellow bold reverse
	meta = ul
	frag = magenta bold
	old = red
	new = green

[alias]
	wdiff = diff --word-diff
	jwdiff = "!f() { git diff $@ | jwdiff -d | colordiff; }; f"

[log]
        date = iso8601
	decorate = full

[diff]
	algorithm = histogram
	tool = vimdiff

[push]
	default = nothing
