[user]
	email = fumiyas@osstech.co.jp
	name = SATOH Fumiyasu

[core]
	quotepath = false

[color]
	ui = auto

[color "diff"]
	commit = yellow bold reverse
	meta = ul
	frag = magenta bold
	old = red
	new = green

[pager]
	log = (diff-highlight 2>/dev/null 2>&1 || cat) |$PAGER
	diff = (diff-highlight 2>/dev/null 2>&1 || cat) |$PAGER
	show = (diff-highlight 2>/dev/null 2>&1 || cat) |$PAGER

[alias]
	s = status
	ss = status --short
	d = diff
	d1 = "!f() { git diff \"$@\" HEAD~; }; f"
	d2 = "!f() { git diff \"$@\" HEAD~2; }; f"
	d3 = "!f() { git diff \"$@\" HEAD~3; }; f"
	ds = diff --staged
	l = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	precommit = diff --cached --diff-algorithm=minimal -w
	wdiff = diff --word-diff
	wdiff-staged = diff --staged --word-diff
	jwdiff = "!f() { git diff $@ | jwdiff -d | colordiff; }; f"
	jwdiff-staged = "!f() { git diff --staged $@ | jwdiff -d | colordiff; }; f"
	ci = commit --verbose
	cia = commit --verbose --amend
	b = branch
	branches = branch -a
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~

[log]
        date = iso8601
	decorate = full

[diff]
	algorithm = histogram
	tool = vimdiff
	compactionHeuristic = true
	renames = true

[diff "odf"]
	binary = true
	textconv = unoconv --stdout --format txt

[difftool]
	prompt = false

[merge]
	tool = vimdiff
[mergetool]
	prompt = false

[pull]
	#rebase = preserve
[push]
	default = nothing
[commit]
	verbose = true
