[user]
	email = fumiyas@osstech.co.jp
	name = SATOH Fumiyasu

[core]
	quotepath = false

[color]
	ui = auto

[color "diff"]
	commit = yellow bold reverse
	meta = ul
	frag = magenta bold
	old = red
	new = green

[alias]
	s = status
	ss = status --short
	d = diff
	d1 = "!f() { git diff \"$@\" HEAD~; }; f"
	d2 = "!f() { git diff \"$@\" HEAD~2; }; f"
	d3 = "!f() { git diff \"$@\" HEAD~3; }; f"
	ds = diff --staged
	l = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	wdiff = diff --word-diff
	wdiff-staged = diff --staged --word-diff
	jwdiff = "!f() { git diff $@ | jwdiff -d | colordiff; }; f"
	jwdiff-staged = "!f() { git diff --staged $@ | jwdiff -d | colordiff; }; f"

[log]
        date = iso8601
	decorate = full

[diff]
	algorithm = histogram
	tool = vimdiff

[diff "odf"]
	binary = true
	textconv = unoconv --stdout --format txt

[pull]
	rebase = preserve
[push]
	default = nothing
