[mysql]
prompt=MySQL \u@\h:\d> \
auto-rehash
show-warnings
## Run the following SET statement to disable safe-updates.
## SET sql_safe_updates=0, sql_select_limit=DEFAULT, sql_max_join_size=DEFAULT;
safe-updates
