! http://mail.gnome.gr.jp/ml/gnome-users/200305/msg00005.html

! global
! ======================================================================

*allowSendEvents:	true
*international:		true
!*inputMethod:		skkinput
!*preeditType:		OnTheSpot
*preeditType:		OverTheSpot
!*conversionOnKeys:	Henkan_Mode <Shift>space
!*conversionOnKeys:	Hiragana_Katakana <Shift>space

! skkinput
! ======================================================================

!Skkinput*xim.conversionStartKeys:	\
!	<Key>Henkan
!Skkinput*xim.conversionStartKey:	\
!	Shift<Key>space,Cntrl<Key>Kanji,Cntrl<Key>Henkan_Mode
!Skkinput*ximp.conversionStartKey:	\
!	Shift<Key>space,Cntrl<Key>Kanji,Cntrl<Key>Henkan_Mode
!Skkinput*ConversionStartKey:		\
!	Shift<Key>Space
!Skkinput*ConversionStartKey:		\
!	<Key>Henkan
!Skkinput*conversionStartKey:		\
!	Shift<Key>space

! rxvt
! ======================================================================

Rxvt*loginShell:	true
!Rxvt*termName:		xtermc
Rxvt*inputMethod:	XIM

Rxvt*cutchars:		"\\`\"'&()*,;<=>?@[]{|}+-/!#$%~:"
Rxvt*scrollBar_right:	true
Rxvt*scrollTtyOutput:	true
Rxvt*saveLines:		10000

!Rxvt*inheritPixmap:	true
Rxvt*foreground:	White
Rxvt*background:	DarkSlateBlue
Rxvt*scrollColor:	LightSlateBlue
Rxvt*troughColor:	SlateBlue
Rxvt*cursorColor:	Yellow
Rxvt*cursorColor2:	Red
Rxvt*pointerColor:	Yellow

Rxvt*color3:		Orange
Rxvt*color4:		DeepSkyBlue
Rxvt*color12:		SkyBlue

!Rxvt*vt100*translations:					\
!    #override							\n\
!    <Key>Henkan_Mode:	begin-conversion(_JAPANESE_CONVERSION)	\n
!   <Key>Henkan_Mode:		open-im(XMODIFIERS)		\n
!   <Key>Muhenkan:		open-im(XMODIFIERS)		\n
!   Cntrl<Key>Henkan_Mode:	begin-conversion(_JAPANESE_CONVERSION)	\n

! aterm
! ======================================================================

Aterm*loginShell:		true
Aterm*termName:			xtermc

Aterm*cutchars:			"\\`\"'&()*,;<=>?@[]{|}+-/!#$%~:"
Aterm*VT100*SaveLines:		10000

Aterm*foreground:		#FFFFFF
Aterm*transparent:		true
Aterm*shading:			50

Aterm*scrollBar_right:		true

! kterm
! ======================================================================

KTerm*allowSendEvents:		true
KTerm*VT100*SaveLines:		10000
KTerm*VT100*ScrollBar:		true
KTerm*VT100*rightScrollBar:	true
KTerm*VT100*VisualBell:		true
KTerm*VT100*kanjiMode:		euc
KTerm*openIm:			true

!KTerm*VT100*Translations:					\
!    #override							\n\
!    <Key>Henkan:	begin-conversion(_JAPANESE_CONVERSION)	\n\
KTerm*VT100*Translations:					\
    #override							\n\
    Shift<Key>Space:	begin-conversion(_JAPANESE_CONVERSION)	\n\
    None<Btn4Down>:	scroll-back(1,line)			\
			scroll-back(1,line)			\
			scroll-back(1,line)			\
			scroll-back(1,line)			\n\
    None<Btn5Down>:	scroll-forw(1,line)			\
			scroll-forw(1,line)			\
			scroll-forw(1,line)			\
			scroll-forw(1,line)			\n\
    Ctrl<Btn4Down>:	scroll-back(1,page)			\n\
    Ctrl<Btn5Down>:	scroll-forw(1,page)			\n\
    Shift<Btn4Down>:	scroll-back(1,line)			\n\
    Shift<Btn5Down>:	scroll-forw(1,line)			\n

KTerm.VT100.Scrollbar.Translations:				\
    #override							\n\
    <Btn4Down>:		scroll-back(1,line)			\n\
    <Btn5Down>:		scroll-forw(1,line)			\n

XTerm.VT100.Scrollbar.Translations:				\
    #override							\n\
    <Btn5Down>:		StartScroll(Forward)			\n\
    <Btn4Down>:		StartScroll(Backword)			\n

! XEmacs
! ======================================================================

XEmacs*inputMethod:	none
XEmacs*xnlLanguage:	C

XEmacs.default.attributeFont: -*-fixed-medium-r-*--14-*-*-*-*-*-*-*
!XEmacs.default.attributeFont: -*-fixed-medium-r-*--12-*-*-*-c-*-*-*

XEmacs*menubar*fontSet: -*-*-medium-r-normal--14-*-*-*-*-*-*-*
XEmacs*menubar*shadowThickness:	0
XEmacs*popup*fontSet: -*-*-medium-r-normal--14-*-*-*-*-*-*-*
XEmacs*popup*shadowThickness: 0

!XEmacs.Font: fontset-14
!XEmacs.Fontset-0: -*-fixed-medium-r-normal--14-*-*-*-*-*-fontset-14,\
!  japanese-jisx0213-1:*jisx0213.2004-1,\
!  japanese-jisx0213-2:*jisx0213.2000-2,\
!  korean-ksc5601:-*-mincho-medium-r-normal--14-*-*-*-*-*-ksc*-*,\
!  chinese-gb2312:-*-fang*-medium-r-normal--14-*-*-*-*-*-gb2312*-*

! Emacs
! ======================================================================

! To disable XIM
Emacs*xnlLanguage:	C

Emacs.geometory:	90x40
!Emacs.geometory:	90x40-64+0
!Emacs.toolBar:		off
Emacs.bitmapIcon:	on

Emacs*background:	LightYellow
!Emacs*background:	SeaShell2
Emacs*foreground:	Black
Emacs*menuColor:	Black
Emacs.pointerColor:	Blue
Emacs.cursorColor:	Red

Emacs.menubar:				1
Emacs.pane.menubar.*.background:	#CCCCCC
Emacs.pane.menubar.*.margin:		0
Emacs.pane.menubar.*.borderWidth:	0
Emacs.pane.menubar.*.shadowThickness:	1
Emacs.pane.menubar.*.font: \
    -adobe-helvetica-bold-r-normal--12-*-*-*-*-*-iso8859-1

! Fontset
Emacs.Fontset-0: -*-fixed-medium-r-normal--14-*-*-*-*-*-fontset-14,\
japanese-jisx0213-1:*jisx0213.2004-1,\
japanese-jisx0213-2:*jisx0213.2000-2,\
korean-ksc5601:-*-mincho-medium-r-normal--14-*-*-*-*-*-ksc*-*,\
chinese-gb2312:-*-fang*-medium-r-normal--14-*-*-*-*-*-gb2312*-*
Emacs.Fontset-1: -*-fixed-medium-r-normal--12-*-*-*-*-*-fontset-12
Emacs.Fontset-2: -*-fixed-medium-r-normal--24-*-*-*-*-*-fontset-24
Emacs.Fontset-3: -*-fixed-medium-r-normal--16-*-*-*-*-*-fontset-16,\
korean-ksc5601:-*-mincho-medium-r-normal--16-*-*-*-*-*-ksc*-*,\
chinese-gb2312:-*-fang*-medium-r-normal--16-*-*-*-*-*-gb2312*-*
Emacs.Font: fontset-14

!Emacs.Font: fontset-standard
!Emacs.Fontset-0: -*-fixed-medium-r-normal--10-*-*-*-*-*-fontset-10
!Emacs.Fontset-1: -*-fixed-medium-r-normal--12-*-*-*-*-*-fontset-12
!Emacs.Fontset-2: -*-fixed-medium-r-normal--14-*-*-*-*-*-fontset-14
!Emacs.Fontset-3: -*-fixed-medium-r-normal--18-*-*-*-*-*-fontset-18
!Emacs.Fontset-4: -*-fixed-medium-r-normal--24-*-*-*-*-*-fontset-24
!Emacs.Fontset-0: -*-fixed-medium-r-*-*-14-*-*-*-*-*-fontset-14
!Emacs.Fontset-1: -*-fixed-medium-r-*-*-16-*-*-*-*-*-fontset-16
!Emacs.Fontset-2: -*-fixed-medium-r-*-*-18-*-*-*-*-*-fontset-18
!Emacs.Fontset-3: -*-fixed-medium-r-*-*-20-*-*-*-*-*-fontset-20
!Emacs.Fontset-4: -*-fixed-medium-r-*-*-24-*-*-*-*-*-fontset-24

! Xpdf
! ======================================================================

!Xpdf.japaneseFont: -kochi-gothic-medium-r-normal-*-%s-*-*-*-*-*-jisx0208.1983-0
!Xpdf.japaneseFont: -ricoh-msgothic-medium-r-normal-*-%s-*-*-*-*-*-jisx0208.1983-0

! Tgif
! ======================================================================

!Tgif.TmpDirInHomeDir:		true
!
!Tgif.DoubleByteInputMethod:	xim
!Tgif.UseNKF:			true
!Tgif.CopyAndPasteJIS:		true
!Tgif*PreeditType:		OffTheSpot
!Tgif.Lang:			ja_JP.eucJP
!Tgif.Modifiers:			false
!Tgif.ConvSelection:		_JAPANESE_CONVERSION
!Tgif.InitialFont:		Ryumin
!
!Tgif.XPmOutputVersion:		3
!Tgif.UseXPmVersion1ForImageMap:	false
!Tgif.XpmToPng:			xpmtoppm %s | pnmtopng
!
!Tgif.SquareDoubleByteFonts: \n\
!-kochi-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!-kochi-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!-kochi-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!-kochi-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!\n\
!-kochi-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
!-kochi-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
!-kochi-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
!-kochi-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H
!!\n\
!!-xtt4netscape-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicXTT\n\
!!-xtt4netscape-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicXTT\n\
!!-xtt4netscape-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicXTT\n\
!!-xtt4netscape-gothic-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicXTT\n\
!!\n\
!!-xtt4netscape-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,MinchoXTT\n\
!!-xtt4netscape-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,MinchoXTT\n\
!!-xtt4netscape-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,MinchoXTT\n\
!!-xtt4netscape-mincho-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,MinchoXTT\n\
!!\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,Ryumin-Light-EUC-H\n\
!!\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,H,GothicBBB-Medium-EUC-H\n\
!!\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,Ryumin-Light-EUC-V\n\
!!\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\
!!-jis-fixed-medium-r-*--%d-*-*-*-*-*-jisx0208.1983-*,V,GothicBBB-Medium-EUC-V\n\

! Netscape
! ======================================================================

!Netscape*defaultCharset:x-euc-jp
!Netscape*international:	true
!Netscape*preeditType:	OverTheSpot
!!Netscape*preeditType:	Root
!!*preeditType:                           root
!!*Netscape.preeditType:                  root
!!*printSetup_popup*preeditType:          root
!!*findDialog_popup*preeditType:          root
!!*openURLDialog_popup*preeditType:       root
!!*fileSelector_popup*preeditType:        root
!!Netscape*VT100*translations:					\
!!    #replace							\n\
!!    <Key>Henkan:	begin-conversion(JAPANESE_VERSION)	\n
!!Netscape*terminalTextTranslations: \
!!    #override							\n\
!!    <Key>Henkan:	begin-conversion(_JAPANESE_CONVERSION)	\n
!
!Netscape*drawingArea.translations:				\
!    #replace							\n\
!    <Btn1Down>:		ArmLink()				\n\
!    <Btn2Down>:		ArmLink()				\n\
!    ~Shift<Btn1Up>:	ActivateLink()				\n\
!    ~Shift<Btn2Up>:	ActivateLink(new-window)		\
!			DisarmLink()				\n\
!    Shift<Btn1Up>:	ActivateLink(save-only)			\
!			DisarmLink()				\n\
!    Shift<Btn2Up>:	ActivateLink(save-only)			\
!			DisarmLink()				\n\
!    <Btn1Motion>:	DisarmLinkIfMoved()			\n\
!    <Btn2Motion>:	DisarmLinkIfMoved()			\n\
!    <Btn3Motion>:	DisarmLinkIfMoved()			\n\
!    <Motion>:		DescribeLink()				\n\
!    <Btn3Down>:		xfeDoPopup()				\n\
!    <Btn3Up>:		ActivatePopup()				\n\
!    None<Btn4Down>:	LineUp()				\
!			LineUp()				\
!			LineUp()				\
!			LineUp()				\
!			LineUp()				\n\
!    None<Btn5Down>: 	LineDown()				\
!			LineDown()				\
!			LineDown()				\
!			LineDown()				\
!			LineDown()				\n\
!    Ctrl<Btn4Down>:	PageUp()				\n\
!    Ctrl<Btn5Down>:	PageDown()				\n\
!    Shift<Btn4Down>:	LineUp()				\n\
!    Shift<Btn5Down>:	LineDown()				\n\
!    Alt<Btn4Down>:	xfeDoCommand(forward)			\n\
!    Alt<Btn5Down>:	xfeDoCommand(back)			\n
!
