<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>

<meta http-equiv="Refresh" content="0; URL=http://www.example.com/">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta name="keywords" content="">
<meta name="description" content="">

<title>タイトル</title>
<link rel="copyright" href="copying" title="Copying">
<link rev="made" href="mailto:fumiya@samba.gr.jp">
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="alternate" hreflang="en" title="English version" href="x.en.html"> 
<link rel="alternate" media="print" title="PDF version" href="x.pdf">
<link rel="icon" href="images/mozilla-16.png" type="image/png">
<link rel="shortcut icon" href="/images/global/branding/dellecomicon.ico">


<style type="text/css"><!--
--></style>
<script type="text/javascript"><!--
--></script>

</head>
<body>
</body>
</html>
