<!DOCTYPE html>
<html lang="ja">
<head>

<!--
<meta http-equiv="Refresh" content="0; URL=http://www.example.com/">
-->
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">

<title>タイトル</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="alternate" hreflang="en" title="English version" href="x.en.html">
<link rel="alternate" media="print" title="PDF version" href="x.pdf">
<!--
<link rel="icon" href="images/mozilla-16.png" type="image/png">
-->

<style type="text/css"></style>
<script></script>
<script src="/x.js"></script>
</head>
<body>
</body>
</html>

